body {
    font-family: inter,  sans-serif; /* La famiglia del font */
    font-size: 11px; /* La dimensione del font principale nei tag <p></p> */
    background-color: #569a1b; /* Il colore dello sfondo della pagina web */
    color: #f8bc06c4; /* Il colore del testo */ 
    
}
h1 {
    color: #f3031f; /* Il colore dell'intestazione */
    font-size: 24px; /* La dimensione del font dell'intestazione */
    font-family: Inter, serif; /* La famiglia del font usata nell'intestazione */
}
li {
    color: #06f8c8c8;
    font-size: 24px;
    font-family: inter, dark;
}